  <footer class="footer py-4 fixed-bottom">
    <div class="container">
      <div class="row">
          <p class="col-lg-8 mb-4 mx-auto text-center"><small>To view without login</small></p>
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="#" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">Credit Risk</a>
          <a href="{{ url_for('home_bp.home') }}" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">Orchestration Tool</a>
          <a href="#" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">System Monitor </a>
        </div>
      </div>
    </div>
  </footer>
